body {

 min-height: 340px;
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

.navbar-inner{
  border-radius: 0px ;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

/* coorection bootstrap styles */

body > .navbar .brand {
padding-right: 0;
padding-left: 0;
margin-left: 20px;
float: left;
font-weight: bold;
color: black;
text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
transition: all .2s linear;
}

body > .navbar .brand.current {
    color: #ffffff;
}

.icon-usa-flag {
    background: url('../images/icons/usa_flag_16.png') no-repeat !important;
}

.icon-ru-flag {
    background: url('../images/icons/ru_flag_16.png') no-repeat !important;
}

a.inline_edit,
a.inline_remove {
    float: right;
    margin: 5px;
    text-decoration: none;
}

.ui-dialog .ui-dialog-buttonpane button,
.ui-dialog-buttonpane button, button.ui-button {
    border-radius: 5px;
    font-size: 14px;
    padding: 2px 8px !important;

}

.ui-dialog .ui-dialog-buttonpane button:hover,
.ui-dialog-buttonpane button, button.ui-button:hover {
    border: 1px solid #1B1B1B;
}
